[submodule "ClientGateway"]
	path = ClientGateway
	url = https://github.com/RodrigoPasaye/ClientGateway.git
[submodule "ProductsMicroservice"]
	path = ProductsMicroservice
	url = https://github.com/RodrigoPasaye/ProductsMicroservice.git
[submodule "PaymentsMicroservice"]
	path = PaymentsMicroservice
	url = https://github.com/RodrigoPasaye/PaymentsMicroservice.git
[submodule "OrdersMicroservice"]
	path = OrdersMicroservice
	url = https://github.com/RodrigoPasaye/OrdersMicroservice.git
[submodule "AuthMicroservice"]
	path = AuthMicroservice
	url = https://github.com/RodrigoPasaye/AuthMicroservice.git
